/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*zeroes all the margins and paddings of our elements bacause by default, elements are being added margins and padding by browser

box-sizing: border-box to accurately measure our elements, that padding and border are not added on the top of the element's width
*/
/*html{*/
	/*font-size: 50px;*/
/*}*/

.sample {
	height: 150px;
	width: 150px;
	border: 2px solid blue;
	background-color: green;
}

#box1 {
	height: 150px;
	width: 150px;
	padding: 50px;
	border: 2px solid black;
	background-color: orange;
	margin-right: 30px;
	display: inline-block;
	vertical-align: top;
} 
#box2{
	height: 150px;
	width: 150px;
	padding: 50px;
	border: 2px solid red;
	background-color: yellow;
	display: inline-block;
	vertical-align: top;
}