/* CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Merriweather', serif;
	background-color: whitesmoke;
}

/*nav bar*/

nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid green;
}
footer {
	padding: 0.7rem; 
}

/*id selectors*/
#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
	background-color: #ECF87F;
}

#plant-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

#pre-footer {
	padding: 1rem;
	background-color: #3D550C;
	color:goldenrod;
}


nav > ul {
	list-style-type: none;
}


nav .nav1, nav .nav-logo {
	margin: 0.5rem;
	display: inline;

}

#intro h2, #intro p{
	margin-bottom: 2rem;
	
}
#plant-info p{
	text-align: center;

}

#intro button {
	color: yellow;
	font-weight: bold;
	background-color: #81B622;
	border-radius: 25px;
	font-size: 1.5rem;
	padding: 1rem;	

}

#plant-info h2 {
	margin-bottom: 1rem;
	text-align: center;


}

#plant-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#plant-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	
	/*border: 1px solid black;*/
}

#pre-footer > div {
	display: inline-block;
	width: 20%;
	vertical-align: top;
}

#pre-footer > div > * {
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#images {
	
	/*margin-right: 500px;*/
	display: inline-block;
	/*padding-left: 10px;*/
	/*padding-right: 10px;*/
	min-height: 150px;
	min-width: 150px;
	margin-bottom: 100px;
	display: flex;
	justify-content: center;

}

